// Inicio Resets Basico
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    h1, h2, h3, h4, h5, h6, p {
        font-weight: normal;    
    }
    ol, ul {
        list-style: none;
    }
}
  
img {
    max-width: 100%;
    height: auto;
}
// Fim Reset Basico


.main {
    display: flex;
    justify-content: center;
    .content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        .edit {
            width: 70%;
        }
        .but {
            display: flex;
            justify-content: center;
            width: 30%;
            .butt {
                background-color: white;
                border-color: black;
                width: 125px;
                height: 55px;
                border-width: 1px;
                border-radius: 0px;
            }
        }
    }
}